/* ============================
   STYLE UNTUK PORTOFOLIO ARIQ
===============================*/

/* Global */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f8f0f0;
}

/* Header */
header {
    background: #4CAF50;
    color: white;
    text-align: center;
    padding: 25px 10px;
}

header h1 {
    margin: 0;
}

/* Navigasi */
nav {
    background: #333;
    text-align: center;
    padding: 10px 0;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

/* Main Content */
main {
    width: 80%;
    margin: auto;
    padding: 20px 0;
}

/* Tentang Saya */
#tentang article {
    background: white;
    padding: 20px;
    border-radius: 5px;
}

#tentang img {
    border-radius: 5px;
    margin-bottom: 15px;
}

/* Aside */
aside {
    background: #fff;
    padding: 15px;
    width: 250px;
    margin: 20px 0;
    border-left: 4px solid #4CAF50;
}

aside p {
    margin: 8px 0;
}

/* Pendidikan (Tabel) */
#pendidikan {
    margin-top: 30px;
}

table {
    width: 100%;
    background: white;
    border-collapse: collapse;
}

caption {
    margin-bottom: 10px;
    font-weight: bold;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background: #4CAF50;
    color: white;
}

tfoot td {
    background: #f0f0f0;
    text-align: center;
}

/* Keahlian */
#keahlian ul {
    background: white;
    padding: 15px;
    border-radius: 5px;
    list-style: square;
}

/* Footer */
footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 15px 0;
    margin-top: 30px;
}

cta-button {
   /* Gaya Virtual */
   background-coler: #e74c3c; /* Warna Merah kontras */
   coler: white;
   font-weight: bold;

   /* ukuran dan bentuk */
   padding: 8px 15px;
   border-radius: 5px;

   transition: backgraound-coler o.3s easei
}

cta-button:hover {
   background-coler: #c0392b;
}
{
.nav.cta a { 
   display: flexi;
   gap: 20px;
}


